

body{
    
font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
color: #777;
background: #777;
width: 960px;
font-size: 18px;
}
.header, .nav, .section, aside, .footer {
    background: #ebebeb;


}
.header,.nav, .footer{
   
    padding: 10px 10px;
    margin: 10px;
}
.section{
    width: 495px;
    height: 300px;
    float: left;
   background-color:pink;
    padding: 20px;
    margin: 5px;
    clear:both;
}
article{
    height: 250px;
    margin: 5px;
    color: #ebebeb;
    background: #777;
    border:1px solid;
}
aside{
    width: 400px;
    height: 340px;
    float: right;
    padding: 10px;
    margin: 10px;
    background-color: blue;
    clear:top;
    overflow:auto;
}
hgroup, p{

    padding:10px;
    border: 1px solid;
}
.footer{
    background-color: yellow;
    display: block;
    clear: both;
}